<!DOCTYPE html>

<html>

<head>
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'accounts/truck.png'%}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<title>USDOT Search</title>

<body class="text-center">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand" href="/saferdb/query/">USDotSearch</a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
              &#9776;
          </button>
      <div class="collapse navbar-collapse" id="exCollapsingNavbar">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a href="/saferdb/about/" class="nav-link">About</a></li>
          <li class="nav-item"><a href="/saferdb/help/" class="nav-link">HowTo</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a href="/saferdb/california/" class="nav-link">California</a></li>

          {%else%}
          <li class="nav-item"><a href="/saferdb/demo/" class="nav-link">Demo</a></li>
          {% endif %}

          <!-- <li class="nav-item"><a href="/saferdb/help/" class="nav-link">Service</a></li> -->
          <li class="nav-item"><a href="/saferdb/faq/" class="nav-link">FAQ</a></li>
        </ul>

        {% if user.is_authenticated %}

        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a></li>
          <li class="nav-item"><a href="{% url 'accounts:edit_profile' %}" class="nav-link">Edit Profile</a></li>
        </ul>
      </div>
        {%else%}
        <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
          <li class="dropdown nav-item ">
            <a type="" id="" data-toggle="dropdown" class="btn nav-link  dropdown-toggle">Login <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-right mt-1">
              <li class="p-3">
                <form method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-primary" type="submit">Login</button>
                  <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register</a>
                  <div class="form-group text-xs-center">
                    <small><a href="{% url 'accounts:reset_password' %}">Forgot password?</a></small>
                  </div>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      {% endif %}
    </div>
  </nav>




  <!-- Cover -->

  <div id="firstbox" class="d-flex section-aquamarine cover align-items-center" style="padding-top: 4.5rem; background-image: url('{% static 'saferdb/trucks.jpg' %}');">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5">
          <h1 class="display-2 d-none d-md-block">Generate a phone list, prescreened for underwriting guidelines.</h1>
          <h1 class="display-4 d-block d-md-none">Generate a phone list, prescreened for underwriting guidelines.</h1>
          <p class="display-6">A Process for Generating Commercial Auto Prospects</p>
          <!-- <h3>Log In</h3> -->
          <form method="post">

          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Login</button>
          <a class="btn btn-primary" href="{% url 'accounts:register' %}">Register</a>
        </form>
        </div>
        <div class="text-white mt-5">


          <i class="d-block fa fa-angle-down pt-5 fa-3x"></i> </div>


      </div>
    </div>
  </div>
  </div>
  <!-- Parallax section -->
  <div class="py-5 section-parallax" style="background-image: url(&quot;{% static 'saferdb/venue.jpg' %}&quot;);">
    <div class="container my-5 bg-light p-4">
      <div class="row mx-auto">
        <div class="col-md-12">
          <h1 class="mb-3">Remember that commercial policy where you saved your client thousands per year?</h1>
          <p class="">You know your products, you know where you are the most competitive.
            <br> We help you generate a list of prospects that fit your underwriting guidelines.
            <br>
            <br><strong>How would you like to have a list on the following criteria:
            </strong></p>
          <ul class="list-unstyled"><strong>
             <li>Beverage distributors</li>
            <li>In your Zip code</li>
            <li>Are Intrastate</li>
            <li>NOT Auth. for hire</li>
            </strong></ul><strong>

          <a href="{% url 'accounts:login'%}" class="btn btn-primary btn-lg m-2">Log In<br></a>
          <a class="btn btn-primary btn-lg m-2" href="{% url 'accounts:register' %}">Register</a>
        </strong></div><strong>
      </strong></div><strong>
        We help align your underwriting guidelines with your prospecting.
    </strong></div><strong>
  </strong></div><strong>
  <!-- Speakers -->
  <div class=" py-2" id=""> </div>

  <!-- Sponsor logos -->

  <div class="py-5 section bg-faded bg-light container"><strong>
    <div class="row">
      <div class="col-md-4">
        <h2 class="pillars rounded text-center">The Challenge</h2>
        <h4>Being able to specify that one market:</h4>
        <ul>
          <li class="text-justify">Being able to target a specific group of truck owning companies for whom you are most competitive</li>
          <li class="text-justify">The inability to search the Department Of Transportation's database</li>
        </ul>
      </div>

      <div class="col-md-4">
        <h2 class="pillars rounded "> The Good News</h2>
        <h4>In this one particular market:</h4>
        <ul class="text-left">
          <li class="text-justify">You have the best price for commerical trucks</li>
          <li class="text-justify">You have the best sales people and process in place</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2 class="pillars rounded text-center">The Solution</h2>
        <h4>Custom search USDOT Database:</h4>
          <ul>
            <li class="text-justify">You can now make custom search against the data in the Department Of Transportation</li>
          </ul>
      </div>
    </div>
  </div>





  <!-- Schedule -->


  <div class="py-5 section-parallax" style="background-image: url('{% static 'saferdb/truck.jpg' %}');" id="schedule">
    <div class="container section-aquamarine">
        <div class="row">
          <div class="col-md ">
            <h1 class="text-white mt-4">Cost Schedule</h1>
          </div>
        </div>
      <div class="row text-left text-dark">
      <div class="container">
        <div class="card">
          <div class="text-center card-body">
            <h2>Simple Plan</h2>
            <p class="lead">Access our database and generate targeted leads for your marketing team member to solicit:
            <br> $19.99 per month. <br>
            <a class="btn btn-primary btn-lg m-2" href="{% url 'accounts:register' %}">Register</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>


  <!-- Call to action -->
  <!-- Footer -->
  <footer class="text-md-left text-center p-4 bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-6">
          <p class="text-muted">Contact us for more info:</p>
          <p class="my-3">
            <p name="phone" class="text-muted"><a href="mailto:Trucks@trucksearch.us" target="_top">Trucks@trucksearch.us</a><br>LJC TECH INC <br>303 Nina st <br> New Windsor, NY 12553 <br> 347-450-8119</p>
          </p>
        </div>

        <div class="col-lg-1"> </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-muted">© All rights reserved 2018 LJC Tech Inc - All rights reserved. </p>
        </div>
      </div>
    </div>
  </footer>


</strong> </div>



</body>

<!-- JavaScript dependencies -->
<script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="application/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="{% static 'saferdb/aquamarine.css' %}" type="text/css">
<!-- Script: Smooth scrolling between anchors in a same page -->
<!-- <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo> -->
<!-- <script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<!-- <script type="application/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
<!-- <script type="application/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script> -->
<!-- <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->

<script>
  $(document).ready(function() {
    $(document).ready(function() {
      $(".navbar-header").parent().css("background-color", "#e1261c");
      $(".navbar-collapse").css("background-color", "#e1261c");
      $(".navbar-collapse").parent().css("background-color", "#e1261c");
      $(".white_anchor").css("color", "white");
      $(".pillars").css("background-color", "#e1261c");
      $(".pillars").css("color", "white");
      // $("#id_password").hide();

    });
  });
</script>

</html>
