{% extends 'base.html' %}

{% block body %}
<div class="container">
  <h3>Our Story:</h3>
<p>Created by State Farm&reg; teammember who discovered how competitive State Farm&reg; commerical auto is.</p>
<p>I had a client call me up for a commerical insurance, at the end of the call it turned out I was saving him $3,000 dollars a year per truck he had 4 trucks.</p>
<p>That conversation easily turned into quotes for their personal policies and later on he referred his employees.</p>

<p>I was hooked, I wanted to reach out to more companies that had trucks, but how? <br> I tried the phone book and called companies I thought might have trucks, but I wasted alot of my time calling
prospects who either did not have trucks or did not meet the underwriting guidlines of State Farm. </p>

<p>There was one place that had the information I needed. The Department Of Transportation; the S.A.F.E.R. site is not searchable in a way that would allow for creating a prescreened list.  </p>

<p>I teamed up with another teammember in my office and we started work on a project that would enable people to search the DOT database.</p>

<p>This site allows you to create a custom search, for trucks you are most competitive. </p>

<p>Please feel free to email your questions to:

<a href="mailto:Trucks@trucksearch.us" target="_top">Trucks@trucksearch.us</a>

You can also call at: (347) 450-8119
</p>
</div>
{% endblock %}
