{% extends 'base.html' %} {% load static %} {% load staticfiles %} {% block body
%}
<div class="container">
  <h1>
    Frequently Asked Questions.
  </h1>
  <h3>Q. What is this data?</h3>
  <p>
    A. We are offering the ability to search the department of transportation's
    federal site.
  </p>
  <h3>Q. Can't I search the site myself?</h3>
  <p>
    A. The Dot only let's you search by company name or DOT number not a
    specifice geographical area or types of products being transported.
  </p>
  <p>
    If you search the DOT site for
    <a
      href="https://safer.fmcsa.dot.gov/keywordx.asp?searchstring=%2AFRUIT%2A&SEARCHTYPE="
      >"fruit"</a
    >. The SAFER site will only give you the first 500 companies that have fruit
    in their name, from every part of the USA.
  </p>
  <h3>
    Q. But I can just drive around and take photos of trucks in the
    neighborhood.
  </h3>
  <p>
    A. Despite the fact that it's dangerous to use a phone while driving and
    that you represent a Fortune 3 corporation worth $99 Billion. When you get
    back to the office the first thing you will do is run their DOT number on
    the safer site; and hope for good luck that they are eligible.
  </p>
  <p>There has to be a better way.(Don't be a creeper.)</p>
  <h3>Q. How much does it cost?</h3>
  <p>A. The fees are 19.99 per month.</p>
  <h3>Q. What is the best search criteria?</h3>
  <p>
    A. Every state and area is different, please contact your underwriter to get
    a list of your top Stat Class business opportunities and you will want to
    run a list based on that.
  </p>
  <h3>Q. Is there a contract?</h3>
  <p>A. There is no contract, you can cancel anytime.</p>
  <h3>Q. Is there a cancellation fee?</h3>
  <p>
    A. There is NO cancellation fee but we do not prorate. If you sign up in
    January 1st, cancel January 5th & sign up again January 10th, you will have
    to pay two months subscription fee.
  </p>
  <h3>Q. Are there any refunds, is my membership "prorated"?</h3>
  <p>A. No, there are no refunds. Your membership terminates immediately.</p>

  <p>
    Please feel free to email your questions to:
    <a href="mailto:Trucks@trucksearch.us" target="_top"
      >Trucks@trucksearch.us</a
    >
    You can also call at: (347) 450-8119
  </p>
</div>
<!-- container -->
{% endblock %}
